from fastapi import FastAPI
from app.api.endpoints import health

app = FastAPI(title="{{ .Name }}", version="{{ .Version }}")

app.include_router(health.router, prefix="/api/v1")

@app.get("/")
def read_root():
    return {"message": "Welcome to {{ .Name }} API"}
